.aside-text {
    margin-top: 60px;

    @include media-breakpoint-up(sm) {
        margin-top: 0;
    }

    &__title {
        margin-top: 0;
        line-height: 1;
        font-family: $font-titles;
        font-size: 38px;
        letter-spacing: 1px;
    }

    p {
        text-align: center;

        @include media-breakpoint-up(sm){
            text-align: left;
        }
    }
}
