.user-modal {
    .modal-dialog {
        width: 300px;
        margin: 30px auto;
    }

    i {
        width: 14px;
    }

    .checkbox {
        margin-top: 0;
    }
}

.register-modal .modal-dialog {
    width: 400px;
}

.button-checkbox i {
    margin-right: 5px;
}
