.team {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;

    @media ( max-width: $screen-sm-max ) {
        justify-content: flex-start;
        flex-flow: row wrap;
    }

    img {
        padding: 0.2%;
        max-width: 20%;
        display: inline-block;

        @media ( max-width: $screen-sm-max ) {
            padding: 0.3333333333%;
            max-width: 33.3%;
        }
    }

    &_mod {
        justify-content: flex-start;
        img {
            padding: 0.2%;
            max-width: 30%;

            @media ( max-width: $screen-sm-max ) {
                max-width: 50%;
            }
        }
    }
}