.team {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;

    @include media-breakpoint-down(sm) {
        justify-content: flex-start;
        flex-flow: row wrap;
    }

    img {
        padding: 0.2%;
        max-width: 20%;
        display: inline-block;

        @include media-breakpoint-down(sm) {
            padding: 0.3333333333%;
            max-width: 33.3%;
        }
    }

    &_mod {
        justify-content: flex-start;
        img {
            padding: 0.2%;
            max-width: 30%;

            @include media-breakpoint-down(sm) {
                max-width: 50%;
            }
        }
    }
}