html {
    background: $color-brand-2;
}
body {
    background: #fff;
    color: $text-body-color;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    overflow-x: hidden;
}

nav li {
    margin-bottom: 0;
}

section {
    padding: 40px 0;
}

footer {
    padding: 40px 0 0;
}

a {
    color: $color-brand-1;
    text-decoration: none;

    &:hover,
    &:focus {
        color: darken( $color-brand-1, 5% );
        text-decoration: underline;
    }
}

b, strong {
    font-weight: 700;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

svg {
    font-family: $font-titles;

    text {
        font-size: 12px;
        letter-spacing: 0;
    }
}
